/* Recommendations First Slide */
.Titles
{
    display: flex;
    justify-content: center;
    font-family: 'Rowdies', cursive;
    color: lightcyan
}

.TitleHR
{
    width: 600px;
}

@media screen and (max-width: 800px) {
    .TitleHR{
        width: 350px;
    }

    .Titles{
        font-size: medium;
    }
}

.informationFlex{
    display: flex;
    justify-content: center;

    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    
}

.informationBox{
    width: 1000px;
    height: 350px;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.informationRow{
    display: flex;
    flex-direction: row; 

}

.imgInfo{
    padding-top: 80px;
}
.informationWords{
    width: 600px;
    
}

.informationColumn{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: black;

    background-color: #9CCAF0;
}

/* Different Boxes for pics */
.pictueContainer
{
    width: 196px;
    height: 130px;
}

.rectangleContainer
{
    width: 231px;
    height: 200px;
}

.BigQuizContainer
{
    display: flex;
    justify-content: center;
}

.RowContainer
{
    display: flex;
    flex-direction: row;
}

.SmallQuizContainer
{
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    width: 400px;
    font-family: 'Fjalla One', sans-serif;
    color: black;
    

}

.QuizHeader
{
    width: 200px;
}

.gamefont{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Rowdies', cursive;
}

@media screen and (max-width: 800px) {
    .RowContainer{
        flex-direction: column;
        align-items: center;
        
    }

    .SmallQuizContainer{
        width: 300px;
        padding-top: 10px;
    }

    .informationFlex{
        font-size: medium;
        
    }

    .informationBox{
        height: 500px;
    }

    .informationWords{
        width: 300px;
        
    }

    .informationRow
    {
        display: flex;
        flex-direction: column;
    }

}

/* Video CSS */

.ProLocationVideo
{
    width: 616px;
}

.ProLocationText
{
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    color: lightcyan; 
}

.ProLocationExplain
{
    font-family: 'Fjalla One', sans-serif;
    font-size: medium;
}

.ColContainer
{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.boxinABox
{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .ProLocationVideo{
        width: 100%;
    }
}