/* Recommendations First Slide */
.Titles
{
    display: flex;
    justify-content: center;
    font-family: 'Rowdies', cursive;
}

.TitleHR
{
    width: 600px;
}

@media screen and (max-width: 800px) {
    .TitleHR{
        width: 350px;
    }

    .Titles{
        font-size: medium;
    }
}

/* Different Boxes for pics */
.pictueContainer
{
    width: 196px;
    height: 130px;
}

.BigQuizContainer
{
    display: flex;
    justify-content: center;
}

.RowContainer
{
    display: flex;
    flex-direction: row;
}

.SmallQuizContainer
{
    display: flex;
    align-items: center;

    padding-left: 20px;
    width: 400px;
    font-family: 'Fjalla One', sans-serif;
    color: black;
}

.QuizHeader
{
    width: 200px;
}

.gamefont{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Rowdies', cursive;
}

@media screen and (max-width: 800px) {
    .RowContainer{
        flex-direction: column;
        align-items: center;
    }

    .SmallQuizContainer{
        width: 300px;
        padding-top: 10px;
    }

}

/* Video CSS */

.ProLocationVideo
{
    width: 616px;
}

.ProLocationText
{
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    color: #0063DB; 
}

.ProLocationExplain
{
    font-family: 'Fjalla One', sans-serif;
    font-size: medium;
}

.ColContainer
{
    display: flex;
    flex-direction: column;
}

.boxinABox
{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .ProLocationVideo{
        width: 100%;
    }
}